# Species of Fishes

In [54]:
%matplotlib inline
import pandas as pd
import numpy as np
# import cufflinks as cf
# import plotly.plotly as py

import seaborn as sns
sns.set_context("poster")
sns.set_style("darkgrid")
pd.set_option('precision', 2)
pd.set_option('notebook_repr_html', True)
cf.set_config_file(theme='ggplot', sharing='public', offline=False, world_readable=True)

In [32]:
# import CSV dataset from SAS as Pandas dataframe
col_names = ['species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height','Width']
fishes = pd.read_csv("../PythonVsSAS/sample_dataset/FISH.csv", header=0, names=col_names)
fishes.head(3)

  species  Weight  Length1  Length2  Length3  Height  Width
0   Bream     242     23.2     25.4     30.0  11.520  4.020
1   Bream     290     24.0     26.3     31.2  12.480  4.306
2   Bream     340     23.9     26.5     31.1  12.378  4.696

### Compute Frequency statistics of the `Species` of Fishes and `Plot`
Somehow, Python refused to recognize column 'Species' until I changed the name to lowercase. 

Could it be there's naming conflict with existing Python Class? Anyway...

In [48]:
grouped = fishes.groupby('species').size()
grouped = pd.DataFrame(grouped, columns=['Frequency'])
grouped['Percent'] = (grouped.Frequency / grouped.Frequency.sum()) * 100
grouped

           Frequency  Percent
species
Bream             35    22.01
Parkki            11     6.92
Perch             56    35.22
Pike              17    10.69
Roach             20    12.58
Smelt             14     8.81
Whitefish          6     3.77

In [53]:
# Plot
grouped.Frequency.iplot(kind='bar', filename='PythonvsSAS/bar_fish', xTitle='Species', yTitle='Frequency')